.title {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  padding: 40px 0 20px;
}

.checkoutForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.validationContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 40px;
}

label {
  margin-bottom: 20px;
}

.checkoutError {
  position: absolute;
  top: 5px;
  font-size: 12px;
}